In [2]:
import pandas as pd
import numpy as np
from keplergl import KeplerGl

In [3]:
df_bs = pd.read_csv('D:/Dataset/cell_towers/cell_towers_2020-12-08-T000000.csv')

In [4]:
df_bs.shape

(42970548, 14)

In [5]:
df_bs.head()

,radio,mcc,net,area,cell,unit,lon,lat,range,samples,changeable,created,updated,averageSignal
0,UMTS,262,2,801,86355,0,13.285512,52.522202,1000,7,1,1282569574,1300155341,0
1,GSM,262,2,801,1795,0,13.276907,52.525714,5716,9,1,1282569574,1300155341,0
2,GSM,262,2,801,1794,0,13.285064,52.524000,6280,13,1,1282569574,1300796207,0
3,UMTS,262,2,801,211250,0,13.285446,52.521744,1000,3,1,1282569574,1299466955,0
4,UMTS,262,2,801,86353,0,13.293457,52.521515,1000,2,1,1282569574,1291380444,0

In [6]:
df_bs.sample(frac=0.5)[['radio', 'lon', 'lat']].to_csv('d:/bs_world_wide.csv', index=False)

In [9]:
df_gsm = df_bs[df_bs['radio']=='GSM']
df_umts = df_bs[df_bs['radio']=='UMTS']
df_cdma = df_bs[df_bs['radio']=='CDMA']
df_lte = df_bs[df_bs['radio']=='LTE']